

<ion-view title="Plugins" id="pageHome" class="">
<ion-content>
    
   
<button ng-click="getVersion()" id="login-button1" class="button button-outline  button-dark button-block">app version</button>    

<!--  <a ui-sref="app" id="register-button3" class="button button-positive  button-block">Sign up</a>  -->
    
<button ng-click="flashon()" id="login-button1" class="button button-outline  button-dark button-block">flash on</button>  
    
<button ng-click="flashoff()" id="login-button1" class="button button-outline  button-dark button-block">flash off</button>  
    
<!--<button ng-click="contacts()" id="login-button1" class="button button-outline  button-dark button-block">contact</button>    -->

<button ng-click="imagepicker()" id="login-button1" class="button button-outline  button-dark button-block">pick image from gallery</button>    
    
<!--<button ng-click="clipboard()" id="login-button1" class="button button-outline  button-dark button-block">copy/paste</button>-->
    
<button ng-click="battery()" id="login-button1" class="button button-outline  button-dark button-block">battery</button>    
    
</ion-content>
</ion-view>
