<ion-view title="Plugins" id="pageHome" class="">
<ion-content>
<div class="tabs-striped tabs-top tabs-background-assertive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        <i class="icon ion-home"></i>        
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Favorites
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>
  </div>  

    
</ion-content>
</ion-view>    