<ion-view title="Register" id="page3">
    <ion-content padding="true" class="has-header" style="background-image: url('..\img\angularjs-ionic-framework.jpg');"> 
        <form class="list">
            <ion-list>
                <label class="item item-input" style="background-color: white;">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" style="color: black;">
                </label>
                <label class="item item-input" style="background-color: white;">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" style="color: black;">
                </label>
                <label class="item item-input" style="background-color: white;">
                    <span class="input-label">PhoneNumber</span>
                    <input type="text" placeholder="" style="color: black;">
                </label>
                  <label class="item item-input" style="background-color: white;">
                    <span class="input-label">Age</span>
                    <input type="text" placeholder="" style="color: black;">
                </label>
                <label class="item item-input" style="background-color: white;">
                    <span class="input-label">Gender</span>
                    <input type="text" placeholder="" style="color: black;">
                </label>
                <label class="item item-input" style="background-color: white;"s>
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="" style="color: black;">
                </label>
            </ion-list>
            <a ng-click="goToLogin()" id="register-button3" class="button button-stable  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>